@import '~antd/dist/antd.css';
@import "src/variables.scss";

.App {
  background-color: $grey-1;
  height: 100vh;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
  position: relative;
  display: flex;
}
