@import "src/variables.scss";


.product-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .product-search {
    .ant-btn-primary {
      background-color: $black;

      .primaryOutlined {
        color: $white;
      }
    }
  }

  .product-list-container {
    height: 60vh;
  }

  .highlighted-product-list-container {
    height: 26.5vh;
  }

  .ant-divider-horizontal {
    margin: 0;
  }

  .product-list-container::-webkit-scrollbar,
  .highlighted-product-list-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .product-list-container, .highlighted-product-list-container {
    overflow-y: auto;
    padding-top: .4rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: linear-gradient(white 0%, white 80%, #F1ECE6 100%);

    .single-product-container {
      display: flex;
      margin-top: 20px;

      .product-image {
        height: 56px;
        width: 56px;
        border-radius: 8px;
      }

      .name-price {
        width: 244px;
        margin-left: 16px;
        .product-name {
          color: $black-1;
          font-size: 12px;
          line-height: 16px;
          overflow: hidden;
          white-space:nowrap;
          text-overflow:ellipsis;
          width:80%;
          display: inline-block;
        }
        .product-price {
          color: $grey-3;
        }
      }

      .ant-btn {
        padding: 4px 4px;
        justify-content: center;
        align-items: center;
        border: none;
        height: 28px;
        background-color: $white-1;
        color: $black-1;
      }

      .remove {
        color: red;
      }

    }
  }

}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
