$black: #000000;
$black-1: #2A2A2A;
$grey-1: #2A2A2A;
$grey-2: #9F9F9F;
$grey-3: #747474;
$grey-4: #282c34;
$white: #ffffff;
$white-1: #EDEDED;
$red: #FF0000;
$current-speaker-border-color: #16E7CF;
$badge-mute-red: #E12147;
$silver: #c0c0c0;
